/* .navbar-brand {
  padding: 0 2rem 0 5rem !important;
} */

.navbar {
  padding: 1rem 15rem !important;
}

.nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1.7rem !important;
  color: var(--title-color) !important;
}

.nav-link:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.active {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
